<div class="container-xl about-page">

  <div class="intro">
    <img class="logo" src="/resources/mpool-cash-logo.svg" style="max-width: 400px;" />
    <div class="version">
      <span>v{{ packetJsonVersion }} [<a href="https://github.com/jianhuxwx/mpool.cash/commit/{{ frontendGitCommitHash }}">{{ frontendGitCommitHash }}</a>]</span>
      <span *ngIf="stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE">[{{ stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE }}]</span>
      <span>Maintained by <a href="https://github.com/jianhuxwx" target="_blank" rel="noopener">jianhuxwx</a></span>
    </div>
  </div>

  <div class="about-text">
    <h5>MpoolCash - Bitcoin Cash Explorer</h5>
    <p i18n>A mempool and blockchain explorer for the Bitcoin Cash community, focusing on the transaction fee market and multi-layer ecosystem, completely self-hosted without any trusted third-parties.</p>
    <p><strong>Based on <a href="https://mempool.space" target="_blank">mempool.space</a></strong> - The Mempool Open Source Project®</p>
    <h5>Bitcoin Cash Mempool</h5>
  </div>

  <video #promoVideo (click)="unmutePromoVideo()" (touchstart)="unmutePromoVideo()" src="/resources/promo-video/mempool-promo.mp4" poster="/resources/promo-video/mempool-promo.jpg" controls loop playsinline [autoplay]="true" [muted]="true">
    <track label="English" kind="captions" srclang="en" src="/resources/promo-video/en.vtt" [attr.default]="showSubtitles('en') ? '' : null">
    <track label="日本語" kind="captions" srclang="ja" src="/resources/promo-video/ja.vtt" [attr.default]="showSubtitles('ja') ? '' : null">
    <track label="中文" kind="captions" srclang="zh" src="/resources/promo-video/zh.vtt" [attr.default]="showSubtitles('zh') ? '' : null">
    <track label="Svenska" kind="captions" srclang="sv" src="/resources/promo-video/sv.vtt" [attr.default]="showSubtitles('sv') ? '' : null">
    <track label="Čeština" kind="captions" srclang="cs" src="/resources/promo-video/cs.vtt" [attr.default]="showSubtitles('cs') ? '' : null">
    <track label="Suomi" kind="captions" srclang="fi" src="/resources/promo-video/fi.vtt" [attr.default]="showSubtitles('fi') ? '' : null">
    <track label="Français" kind="captions" srclang="fr" src="/resources/promo-video/fr.vtt" [attr.default]="showSubtitles('fr') ? '' : null">
    <track label="Deutsch" kind="captions" srclang="de" src="/resources/promo-video/de.vtt" [attr.default]="showSubtitles('de') ? '' : null">
    <track label="Italiano" kind="captions" srclang="it" src="/resources/promo-video/it.vtt" [attr.default]="showSubtitles('it') ? '' : null">
    <track label="Lietuvių" kind="captions" srclang="lt" src="/resources/promo-video/lt.vtt" [attr.default]="showSubtitles('lt') ? '' : null">
    <track label="Norsk" kind="captions" srclang="nb" src="/resources/promo-video/nb.vtt" [attr.default]="showSubtitles('nb') ? '' : null">
    <track label="فارسی" kind="captions" srclang="fa" src="/resources/promo-video/fa.vtt" [attr.default]="showSubtitles('fa') ? '' : null">
    <track label="Polski" kind="captions" srclang="pl" src="/resources/promo-video/pl.vtt" [attr.default]="showSubtitles('pl') ? '' : null">
    <track label="Română" kind="captions" srclang="ro" src="/resources/promo-video/ro.vtt" [attr.default]="showSubtitles('ro') ? '' : null">
    <track label="Português" kind="captions" srclang="pt" src="/resources/promo-video/pt.vtt" [attr.default]="showSubtitles('pt') ? '' : null">
  </video>

  <ng-container>
    <app-about-sponsors></app-about-sponsors>
  </ng-container>

  <div class="thanks" id="special-thanks">
    <h3>Special Thanks</h3>
    <div class="wrapper text-only">
      <span>🙏 <a href="https://mempool.space" target="_blank" rel="noopener">mempool.space</a> for the original project</span>
      <span>🙏 Fulcrum</span>
      <span>🙏 Bitcoin Cash Node</span>
    </div>
  </div>

  <ng-container>
    <div *ngIf="profiles$ | async as profiles" id="community-sponsors-anchor">
      <div class="community-sponsor whale-sponsor" style="margin-bottom: 68px" *ngIf="profiles.whales.length > 0">
        <h3 i18n="about.sponsors.withHeart">Whale Sponsors</h3>
        <div class="wrapper">
          <ng-container>
            <ng-template ngFor let-sponsor [ngForOf]="profiles.whales">
              <a [href]="'https://x.com/' + sponsor.username" target="_blank" rel="sponsored" [title]="sponsor.username">
                <img class="image" [src]="'/api/v1/services/account/images/' + sponsor.username" onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"/>
              </a>
            </ng-template>
          </ng-container>
        </div>
      </div>

      <div class="community-sponsor" style="margin-bottom: 68px" *ngIf="profiles.chads.length > 0">
        <h3 i18n="about.sponsors.withHeart">Chad Sponsors</h3>
        <div class="wrapper">
          <ng-template ngFor let-sponsor [ngForOf]="profiles.chads">
            <a [href]="'https://x.com/' + sponsor.username" target="_blank" rel="sponsored" [title]="sponsor.username">
              <img class="image" [src]="'/api/v1/services/account/images/' + sponsor.username" onError="this.src = '/resources/profile/grumpy.svg'; this.className = 'image unknown'"/>
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="maintainers" id="project-maintainers">
    <h3 i18n="about.maintainers">Project Maintainers</h3>
    <div class="wrapper">
        <a href="https://github.com/jianhuxwx" target="_blank" title="jianhuxwx" class="project-manager-avatar">
          <img class="image" src="https://avatars.githubusercontent.com/u/114718101?v=4" alt="jianhuxwx avatar" />
          <span>jianhuxwx</span>
        </a>
        <a href="https://x.com/softsimon_" target="_blank" title="softsimon">
          <img class="image" src="/resources/profile/softsimon.jpg" />
          <span>softsimon</span>
        </a>
        <a href="https://x.com/wiz" target="_blank" title="wiz">
          <img class="image" src="/resources/profile/wiz.png" />
          <span>wiz</span>
        </a>
    </div>
  </div>

  <div class="copyright">
    <div class="title">
      Based on mempool.space<br>
      Copyright &copy; 2019-2025<br>
      Mempool Space K.K.<br>
      and other shadowy super-coders
    </div>
    <p>
      <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a> as published by the Free Software Foundation, either version 3 of the License or any later version approved by a proxy statement published on &lt;https://mempool.space/about&gt;.<br>
    </p>
    <p>
      MpoolCash is a modified version of the Mempool Open Source Project, adapted for the Bitcoin Cash network. All modifications are also licensed under the GNU Affero General Public License v3.0.
    </p>
    <p>
      This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the full license terms for more details.<br>
    </p>
    <p>
      This program incorporates software and other components licensed from third parties. See the full list of <a href="/3rdpartylicenses.txt">Third-Party Licenses</a> for legal notices from those projects.
    </p>
    <div class="title">
      Trademark Notice<br>
    </div>
    <p>
      The Mempool Open Source Project&reg;, Mempool Accelerator&reg;, Mempool Enterprise&reg;, Mempool Wallet&trade;, mempool.space&reg;, Be your own explorer&trade;, Explore the full Bitcoin ecosystem&reg;, Mempool Goggles&trade;, the mempool Logo, the mempool Square Logo, the mempool block visualization Logo, the mempool Blocks Logo, the mempool transaction Logo, the mempool Blocks 3 | 2 Logo, the mempool research Logo, the mempool.space Vertical Logo, and the mempool.space Horizontal Logo are either registered trademarks or trademarks of Mempool Space K.K in Japan, the United States, and/or other countries.
    </p>
    <p>
      MpoolCash is an independent project and is not affiliated with or endorsed by Mempool Space K.K. All trademarks mentioned above belong to their respective owners.
    </p>
  </div>

  <br>
</div>


<ng-template #loadingSponsors>
  <br>
  <div class="spinner-border text-light"></div>
</ng-template>

